{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-xs-12">
        <div class="center-block">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

            {% if user.alumno %}
                    <a title="Registrar una solicitud" class="btn btn-light" href="{% url 'solicitud:registrarsolicitud' %}"><img src="{% static 'img/resgistrar.png'%}"></a>
                    <a title="Buscar mis solicitudes" class="btn btn-light" href="{% url 'solicitud:listarsolicitud' %}"><img src="{% static 'img/buscar.png'%}"></a>
             {% else %}
                <a title="Gestionar incidencias" class="btn btn-light" href="{% url 'solicitud:mostrarsolicitudes' %}"><img src="{% static 'img/buscar.png'%}"></a>
            {% endif %}


        </div>
    </div>
{% endblock %}