{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if messages %}
    <div class="row">
    {% for message in messages %}
        <ul class="messages">
            <p{% if message.tags == "success" %} class="alert alert-success"{% endif %}>{{ message }}</p>
        </ul>
    {% endfor %}

    </div>
    {% endif %}


     <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

{% endblock %}
{% include "footer.html"%}